{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oops! Erreur API Weezevent</h1>

    <p>
        Cette application nécessite une clef API, qui doit être saisie par un administrateur.
    </p>
{% endblock %}