{% extends 'base.html.twig' %}

{% block body %}
    <h1>WeezBadge</h1>
    <h2>Welcome {{ user.name }}</h2>


    <a class="btn btn-primary" href="{{ path('connect_google_start') }}" role="button">Connexion</a>
{% endblock %}