{% extends 'base.html.twig' %}

{% block body %}
    {% if defaultEvent is not empty %}
        <h1 class="mb-4">{{ defaultEvent.name }}</h1>
        <p>
            Bienvenue sur l'application de gestion de badges pour l'événement {{ defaultEvent.name|title }}.
            Cette application vous permet de créer, importer ou supprimer des badges.
        </p>
    {% else %}
        <h1>Aucun événement sélectionné</h1>
    {% endif %}

    {% if tickets|length > 0 %}
        <div class="row mt-5">
            {% for ticket in tickets %}
                <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 mb-2">
                    <div class="card border-dark mb-3 mx-4 mx-sm-3 mx-md-0">
                        <div class="card-header text-white bg-primary">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">{{ ticket.name|title }}</div>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h1>{{ ticket.participants }}</h1>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-primary mt-4" role="alert">
            Vous n'avez accès à aucune catégorie de badges pour l'événement en cours, veuillez vous rapprocher de votre contact pour obtenir les droits dont vous avez besoin.
        </div>
    {% endif %}
{% endblock %}