{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center align-items-center mx-0 mb-5 w-100">
        <a class="btn btn-primary" href="{{ path('connect_google_start') }}" role="button">
            <h2 class="mb-0">
                <i class="fab fa-google"></i>
                Connexion
            </h2>
        </a>
    </div>
{% endblock %}