{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create User</h1>
    {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <button type="submit" class="btn btn-primary" formnovalidate>Create</button>
    {{ form_end(userForm) }}
{% endblock %}