{% for ticket in tickets %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('eventParticipantsByTicketPage', {'eventID': eventID, 'ticketID': ticket.id}) }}">
            <i class="fas fa-id-badge"></i>
            {{ ticket.name|title}} ({{ ticket.participants }})
        </a>
    </li>
{% endfor %}